.paginate{
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -30px;
}

.paginate a{
    background: pink;
    padding: 2px 4px;
    border-radius: 5px;
    color:black;
    margin:0 2px;
    text-align: center;
}

.paginate .current{
    background: black;
    color: white;
    border-radius: 5px;
    padding: 2px 4px;
}

.paginate .disabled{
    background: #9d9d9d;
    padding: 2px 4px;
    border-radius: 5px;
    color:black;
    margin:0 2px;
}

.paginate .disabled:hover{
    cursor: not-allowed;
}