.a{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    color: #8c8c8c;
}

.base-info{
    width: 800px;
    margin-left: 40px;
}

.base-text{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #444444;
}

.info-text{
    font-family: Arial;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
}

.l10{
    margin-left: 100px;
}

.l20{
    margin-left: 120px;
}