<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include '_head.html' %}
</head>
<body>
<div class="my-header white">
    <a class="logo" href="{% url 'index' %}">
            <i>Pfx</i>
            <i>Blog</i>
    </a>
    <div id="category">
        <ul>
            <li><a href="{% url 'index' %}">博客</a></li>
            <li><a href="{% url 'blog:archive' %}">归档</a></li>
            <li><a href="#">文章</a></li>
            <li><a href="#">文章</a></li>
        </ul>
    </div>
</div>
<div id="my-body">
    <div class="my-content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="my-left">
        {% include '_left.html' %}
    </div>

    <div class="my-right">
        {% include '_right.html' %}
    </div>
</div>


<script>
    $(function () {
        $(".logo i").hover(function () {
            $(".logo i").addClass("logohover")
        });
        $(".logo i").mouseout(function () {
            $(".logo i").removeClass("logohover")
        })
    })
</script>

{% block js %}

{% endblock %}
</body>
</html>