{% load staticfiles %}
<div class="left-main">
    <div class="my-clock white block">
        <script charset="Shift_JIS"
                src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.js"></script>
    </div>
    <div class="my-image white block">
        <img style="width: 200px" alt="" src="{% static 'image/head.jpg' %}">
        <p class="my-name">Pfx</p>
        <div class="my-category">
            <a class="my-a" href="#">
                <span>14</span>
                <span>博客</span>
            </a>
            <div class="my-hor-line"></div>
            <a class="my-a" href="#">
                <span>14</span>
                <span>博客</span>
            </a>
            <div class="my-hor-line"></div>
            <a class="my-a" href="#">
                <span>14</span>
                <span>博客</span>
            </a>
            <div>

            </div>
        </div>
    </div>
    <div>

    </div>
</div>



