{% extends 'base.html' %}

{% block title %}article{% endblock %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/bootstrap-3.3.7.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/article.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/pagination.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block body %}
    {% for articles in article %}
        <div class="box-border article">
            <h1 class="title">{{ articles.title }}</h1>
            <pre class="bodys">{{ articles.body }}</pre>
            <input id="user-id" type="hidden" value="{{ request.user.id }}">
            <input id="article-id" type="hidden" value="{{ articles.id }}">
        </div>
        {% if articles.user.id == request.user.id %}
            <div class="block only">
                <p>点击数：</p>
                <p>{{ articles.click }}</p>
            </div>
        {% else %}
            <div class="block click">
                <p>点击数：</p>
                <p>{{ articles.click }}</p>
            </div>
            {% if collect %}
                <a class="block collect">已收藏</a>
            {% else %}
                <a class="block collect">收藏</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="box-border comment">
        <span style="white-space:pre"></span><span class="line1"></span>
        <span style="white-space:pre"></span><span class="txt">所有评论</span>
        <span style="white-space:pre"></span><span class="line2"></span>
        <div class="comment-body">
            {% for com in topics.object_list %}
                <p class="author">{{ com.user.username }}&nbsp;&nbsp;&nbsp;<span>{{ com.time | date:'Y-m-d H:i' }}</span>
                </p>
                <p class="comments">{{ com.text }}</p>
                <hr/>
            {% endfor %}
        </div>
        {% if topics %}
            {% load i18n %}
            <div class="paginate">
                {% if topics.has_previous %}
                    <a href="?{{ topics.previous_page_number.querystring }}"
                       class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a>
                {% else %}
                    <span class="disabled">&lsaquo;&lsaquo; {% trans "previous" %}</span>
                {% endif %}
                {% for page in topics.pages %}
                    {% if page %}
                        {% ifequal page topics.number %}
                            <span class="current page">{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                        {% endifequal %}
                    {% else %}...{% endif %}
                {% endfor %}
                {% if topics.has_next %}
                    <a href="?{{ topics.next_page_number.querystring }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a>
                {% else %}
                    <span class="disabled">{% trans "next" %} &rsaquo;&rsaquo;</span>
                {% endif %}
            </div>

        {% else %}
            <p class="noComment">暂无评论</p>
        {% endif %}
    </div>
    <div class="box-border word-line">
        <span style="white-space:pre"></span><span class="line1"></span>
        <span style="white-space:pre"></span><span class="txt">发表评论</span>
        <span style="white-space:pre"></span><span class="line2"></span>
    </div>

    <div class="box-border release-comment">

        {% if request.user.is_authenticated %}
            <div id="comment-div" class="">
                <label id="comment-label" class="control-label"></label>
                <textarea id="comment" type="text" placeholder="评论" class="form-control"
                          rows="5"></textarea><br>
                <input id="comment-release" class="btn btn-primary" type="button" value="发表">
            </div>

        {% else %}
            <div>
                <p class="lr">请先<a id="lg" href="javascript:void(0)">登录</a>
                    /<a id="rg" href="javascript:void(0)">注册</a></p>
            </div>
        {% endif %}
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-3.3.7.min.js' %}"></script>
    <script>
        $(function () {
            collect();
            $.each($('textarea'), function () {
                $.each($("textarea"), function (i, n) {
                    autoTextarea($(n)[0]);
                });
            });
            commentRelease();
            lg();
        });

        function lg() {
            $('#lg').click(function () {
                $('#initLogin').click();
            });
            $('#rg').click(function () {
                $('#initRegist').click();
            })
        }

        function collect() {
            $('.collect').click(function () {
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    data: {
                        'userId': $('#user-id').val(),
                        'articleId': $('#article-id').val()
                    },
                    dataType: 'json',
                    url: '{% url 'blog:collect' %}',
                    type: 'POST',
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    },
                    success: function (data) {
                        console.log('asdlfkj');
                        if (data.status == 'noLogin') {
                            alert('您没有登录，请先登录');
                            $('#initLogin').click();
                        } else if (data.status == 'noCollect') {
                            console.log("1234");
                            alert('取消收藏');
                            $('.collect').html("收藏")
                        } else if (data.status == 'Collect') {
                            console.log("4123");
                            alert('收藏成功');
                            $('.collect').html("已收藏")
                        }
                    }
                })
            })
        }

        function commentRelease() {
            var csrftoken = getCookie('csrftoken');
            $('#comment-release').click(function () {
                var comment = $('#comment').val();
                if (comment.length == 0) {
                    $('#comment-label').html('评论不能为空');
                    $('#comment-div').addClass('has-error');
                    return
                }
                $.ajax({
                    url: '{% url 'blog:comment' %}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'comment': comment,
                        'userId':{{ request.user.id }},
                        'articleId': $('#article-id').val()
                    },
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    },
                    success: function (data) {
                        if (data.status == 'ok') {
                            alert('评论成功')
                            window.location.reload()
                        }
                    }
                })
            })
        }


    </script>
{% endblock %}