{% extends '_base.html' %}
{% load staticfiles %}
{% block title %}首页{% endblock %}
{% block content %}

    <div class="my-center">
        {% for blog in blogs.object_list %}
            <div class="my-blog block white">
                <h3 class="blog-title" title="{{ blog.title }}"><a
                        href="{% url 'blog:blogDesc' blog.id %}">{{ blog.title }}</a></h3>
                <input id="hide-id" type="hidden" value="{{ blog.id }}">
                <p class="blog-type">原创</p>
                <i class="glyphicon glyphicon-time"></i><span class="blog-time">{{ blog.add_time|date:"Y-m-d" }}</span>
                <i class="glyphicon glyphicon-list-alt" style="margin-left: 10px;margin-right: 5px" title="分类"></i>
                {% for category in blog.category.all %}
                    <span class="blog-span">{{ category.name }}</span>
                {% endfor %}
                {# 将html语言转译成正常文本#}
                {#                {% autoescape off %}#}
                <p>{{ blog.body|slice:"0:200"|striptags }}{% if blog.body.length > 200 %}...{% endif %}</p>
                {#                {% endautoescape %}#}
                <hr>
                <i class="glyphicon glyphicon-tags" style="margin-right: 5px" title="标签"></i>
                {% for tags in blog.tags.all %}
                    <span class="blog-span">{{ tags.name }}</span>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="pagination my-pagination">
            {% if blogs.has_previous %}
                <a href="?{{ blogs.previous_page_number.querystring }}"
                   class="prev page-border">&lsaquo;&lsaquo; </a>
            {% else %}
                <span class="disabled prev page-border">&lsaquo;&lsaquo; </span>
            {% endif %}
            {% for page in blogs.pages %}
                {% if page %}
                    {% ifequal page blogs.number %}
                        <span class="current page-border">{{ page }}</span>
                    {% else %}
                        <a href="?{{ page.querystring }}" class="page page-border">{{ page }}</a>
                    {% endifequal %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
            {% if blogs.has_next %}
                <a href="?{{ blogs.next_page_number.querystring }}" class="next page-border"> &rsaquo;&rsaquo;</a>
            {% else %}
                <span class="disabled next page-border">&rsaquo;&rsaquo;</span>
            {% endif %}
        </div>
    </div>

    {% block js %}
        <script>
            $(function () {
                id = $('#hide-id').val();
                var csrftoken = getCookie('csrftoken');
                $('.blog-title').each(function () {
                    $(this).click(function () {
                        $.ajax({
                            url: "{% url 'blog:add_click' %}",
                            type: 'POST',
                            data: {'id': id},
                            dataType: 'json',
                            beforeSend: function (xhr, settings) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken)
                            },
                            success: function (data) {
                                console.log('1324');
                            }
                        })
                    })
                })

            })
        </script>
    {% endblock %}
{% endblock %}