{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}homepage{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pagination.css' %}">
{% endblock %}

{% block body %}
    <div class="body">
        {% for topic in topics.object_list %}
            <div class="collects">
                <p>收藏数:</p>
                <p>{{ topic.collect }}</p>
            </div>
            <input id="article-id" type="hidden" class="" value="{{ topic.id }} ">
            <h4><a id="to-article" class="aa" href="{% url 'blog:article' topic.id %}">{{ topic.title }}</a></h4>
            <p><b>author:</b><a href="#">{{ topic.user.username }}</a></p>
            <p><b>发布时间:</b>{{ topic.time | date:"Y-m-d H:i" }}</p>
            <hr/>
        {% endfor %}
    </div>
    {% load i18n %}
    <div class="paginate">
        {% if topics.has_previous %}
            <a href="?{{ topics.previous_page_number.querystring }}"
               class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a>
        {% else %}
            <span class="disabled">&lsaquo;&lsaquo; {% trans "previous" %}</span>
        {% endif %}
        {% for page in topics.pages %}
            {% if page %}
                {% ifequal page topics.number %}
                    <span class="current page">{{ page }}</span>
                {% else %}
                    <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                {% endifequal %}
            {% else %}...{% endif %}
        {% endfor %}
        {% if topics.has_next %}
            <a href="?{{ topics.next_page_number.querystring }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a>
        {% else %}
            <span class="disabled">{% trans "next" %} &rsaquo;&rsaquo;</span>
        {% endif %}
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        function click_article() {
            $('.aa').each(function () {
                $(this).click(function () {
                    var csrftoken = getCookie('csrftoken');
                    var val_art = $(this).parent().prev().val();
                    console.log(val_art);
                    $.ajax({
                        'url': '{% url 'click' %}',
                        'data': {'id': val_art},
                        'dataType': 'json',
                        'type': 'POST',
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        },
                        success: function (ret) {
                            console.log('click add 1')
                        }

                    })
                })
            })
        }

        $(function () {
            click_article();
        });
    </script>
{% endblock %}