<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>release</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-3.3.7.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/release.css' %}">
</head>
<body>
<button id="back" class="btn btn-default"><a href="{% url 'homepage' %}">返回</a></button>

<form>
    {% csrf_token %}
    <div id="title-div" class="">
        <label id="title-label" class="control-label"></label>
        <input id="title" name="title" type="text" placeholder="请输入标题" class="form-control input-lg"><br>
    </div>
    <div id="desc-div" class="">
        <label id="desc-label" class="control-label"></label>
        <textarea id="desc" name="desc" type="text" placeholder="添加描述，最多500字" class="form-control"
                  rows="3"></textarea><br>
    </div>
    <div id="body-div" class="">
        <label id="body-label" class="control-label"></label>
        <textarea id="body" name="body" placeholder="正文" class="form-control" rows="10"></textarea><br>
    </div>
    <input id="release" type="button" value="发表" class="btn btn-primary">
    <input id="username" type="hidden" value="{{ request.user.username }}">
</form>


<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/getCookie.js' %}"></script>
<script src="{% static 'js/bootstrap-3.3.7.min.js' %}"></script>
<script src="{% static 'js/textareaAutoHeight.js' %}"></script>
<script>
    $(function () {
        var username = $('#username').val();


        $.each($("textarea"), function (i, n) {
                autoTextarea($(n)[0]);
            });

        $('#release').click(function () {
            var title = $('#title').val();
            var desc = $('#desc').val();
            var body = $('#body').val();
            var titled = $('#title-div'),
                titlel = $('#title-label'),
                descd = $('#desc-div'),
                descl = $('#desc-label'),
                bodyd = $('#body-div'),
                bodyl = $('#body-label');

            if (title.length == 0) {
                titled.addClass('has-error');
                titlel.html('标题不能为空');
                return
            } else if (body.length == 0) {
                bodyd.addClass('has-error');
                bodyl.html('正文不能为空');
                return
            } else if (desc.length == 0) {
                descd.addClass('has-error');
                descl.html('描述不能为空');
                return
            } else {
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    cache: false,
                    url: '{% url 'blog:release' %}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'username': username,
                        'title': title,
                        'desc': desc,
                        'body': body
                    },
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    },
                    success: function (ret) {
                        console.log(ret);
                        if (ret.status == 'success') {
                            window.location.reload();
                            alert('博客发表成功')

                        } else {
                            alert('发表失败，请重新尝试')
                        }
                    }
                });
            }


        })
    })
</script>
</body>
</html>