{% extends 'user_base.html' %}
{% load staticfiles %}
{% block title %}基本信息{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/userInfo.css' %}">
{% endblock %}

{% block right %}

    <p class="a">基本信息</p>
    {% for users in user %}
        <div class="base-info">
            <p class="base-text">用户名</p>
            <span class="info-text l10">{{ users.username }}</span><br/>
            <p class="base-text">性别</p>
            <span class="info-text l20">男</span><br/>
            <p class="base-text">邮箱</p>
            <span class="info-text l20">546746447@qq.com</span><br/>
            <p class="base-text">电话</p>
            <span class="info-text l20">1354813585</span><br/>
        </div>
        <p class="a">更多信息</p>
    {% endfor %}


{% endblock %}