<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>waterFall</title>
    <link rel="stylesheet" href="../static/css/waterFall.css">
</head>
<body>
<div id="wrap">
    <div><img src="../media/phone/blackwhite.jpg" alt=""><a href="">blackwhite</a></div>
    <div><img src="../media/phone/google.jpg" alt=""><a href="">google</a></div>
    <div><img src="../media/phone/htc.jpg" alt=""><a href="">htc</a></div>
    <div><img src="../media/phone/htc2.jpg" alt=""><a href="">htc2</a></div>
    <div><img src="../media/phone/iphone.jpg" alt=""><a href="">iphone</a></div>
    <div><img src="../media/phone/iphone5.jpg" alt=""><a href="">iphone5</a></div>
    <div><img src="../media/phone/iphone5s.jpg" alt=""><a href="">iphone5s</a></div>
    <div><img src="../media/phone/iphone6.jpg" alt=""><a href="">iphone6</a></div>
    <div><img src="../media/phone/iphone6plus.jpg" alt=""><a href="">iphone6plus</a></div>
    <div><img src="../media/phone/mobile.jpg" alt=""><a href="">mobile</a></div>
    <div><img src="../media/phone/sumsung.jpg" alt=""><a href="">sumsung</a></div>
    <div><img src="../media/phone/xiaomi4.jpg" alt=""><a href="">xiaomi4</a></div>
    <div><img src="../media/phone/blackwhite.jpg" alt=""><a href="">blackwhite</a></div>
    <div><img src="../media/phone/google.jpg" alt=""><a href="">google</a></div>
    <div><img src="../media/phone/htc2.jpg" alt=""><a href="">htc2</a></div>
    <div><img src="../media/phone/htc.jpg" alt=""><a href="">htc</a></div>
    <div><img src="../media/phone/mobile.jpg" alt=""><a href="">mobile</a></div>
    <div><img src="../media/phone/iphone6plus.jpg" alt=""><a href="">iphone6plus</a></div>
</div>

<script src="../static/js/jquery-1.12.4.min.js"></script>
<script src="../static/js/waterFall.js"></script>
</body>
</html>